@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div clas="container">
    <div class="row">
        @foreach (var todo in Model.Todos)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">@todo.Title</h5>
                        <p class="card-text">
                            @if(@todo.Description.Length > 100)
                            {
                                @todo.Description.Substring(0, 100);
                                
                            } else
                            {
                                @todo.Description;
                            }
                        </p>
                        <a asp-page="./View" asp-route-Id="@todo.Id" class="btn btn-primary"><i class="bi bi-info-circle"></i> View</a>
                        <a href="#" class="btn btn-secondary"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
